#content {
    text-align: center;
    padding-top: 25%;
    font-family: lato;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.4),
                 0px 8px 9px rgba(0,0,0,0.1),
                 0px 14px 18px rgba(0,0,0,0.1);
}
body {
    background: url(https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=362a7baf8e58eab5f477b13befc0e62a&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-size: cover;
    background-position: center;
     }
h1,h3{
    color:white;
}
h1{
    font-weight:700;
    font-size:5em;
}
html{
    height:100%;
}
hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rpga(0,0,0,0.2);
}